.App {
  text-align: center;
}

.App-logo {
  height: 242px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.landing {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn {
  margin-top: 60px;
  background: #2A455E;
  border-radius: 11px;
  padding: 15px 17px;
  color: #3EB8C1;
  display: inline-block;
  font: normal bold 23px/1 'Open Sans', sans-serif;
  text-align: center;
}
